---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
const BASE = import.meta.env.BASE_URL;


const posts = await getCollection("proyectos");
const sorted = posts.sort((a, b) => a.data.title.localeCompare(b.data.title));
---
<Layout title="Proyectos | ricadmin.io">
  <h1 class="rgb-title">Proyectos</h1>
  <p class="small">Fundamentos, práctica y mini-labs.</p>

  {sorted.map((p) => (
    <div class="card">
      <div><b><a href={`${Astro.base}/proyectos/${p.slug}`}>{p.data.title}</a></b></div>
      <div class="small">Dificultad: {p.data.difficulty}</div>
      <div class="small">
        Tags: {p.data.tags.map((t, i) => (
          <>
            <a href={`${Astro.base}/tags/${t}`}>{t}</a>{i < p.data.tags.length - 1 ? " · " : ""}
          </>
        ))}
      </div>
    </div>
  ))}
</Layout>
